.container-page-registro {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #F5F5F5;
}

.employee-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%; // Ajuste a largura do card conforme sua necessidade
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}

.header-registry {
  width: 100%;
  margin-bottom: 30px;

  h1 {
    text-align: center;
    font-weight: bold;
    color: #333;
  }

  p {
    text-align: justify;
    color: #666;
  }
}

.employee-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}

.img-registro {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.employee-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.btn-registro {
  width: 100%;
  height: 52px;
  border-radius: 24px;
  background-color: #5d3fc5;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #492ba0; // Cor um pouco mais escura para o hover
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}
