<div class="container-page-registro">
  <img class="img-registro" src="assets/images/meshaimg.jpeg" alt="img-capa">

<div class="employee-card">
 <div class="header-registry">
    <h1>Bem-vindo à XXZY </h1>
    <p>Estamos entusiasmados em tê-lo conosco! Registrar-se aqui significa dar o primeiro passo em uma jornada cheia de oportunidades, crescimento e momentos inesquecíveis. Na XXZY, valorizamos cada membro da nossa família e trabalhamos juntos para alcançar o sucesso.
      Preencha o formulário abaixo e junte-se a nós nesta aventura incrível. Estamos ansiosos para fazer grandes coisas juntos!</p>
  </div>
<form [formGroup]="registroForm" class="employee-form" (ngSubmit)="onSubmit()">

  <!-- Campo Nome -->
  <mat-form-field appearance="outline" class="employee-form-field">
    <mat-label>Nome</mat-label>
    <input matInput type="text" id="name" formControlName="name">
    <mat-error *ngIf="registroForm.get('name')?.invalid && registroForm.get('name')?.touched">
      Nome é obrigatório e deve ter no máximo 100 caracteres.
    </mat-error>
  </mat-form-field>
  
  <!-- Campo Email -->
  <mat-form-field appearance="outline" class="employee-form-field">
    <mat-label>Email</mat-label>
    <input matInput type="text" id="email" formControlName="email">
    <mat-error *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched">
      Email é obrigatório para o cadastro
    </mat-error>
  </mat-form-field>

  <!-- Campo CPF -->
  <mat-form-field appearance="outline" class="employee-form-field">
    <mat-label>CPF</mat-label>
    <input matInput type="text" id="cpf" formControlName="cpf" (input)="onCPFInput($event)">
    <mat-error *ngIf="registroForm.get('cpf')?.invalid && registroForm.get('cpf')?.touched">
      Insira um cpf valido!
    </mat-error>
  </mat-form-field>
  <!-- Campo Celular -->

  <mat-form-field appearance="outline" class="employee-form-field">
    <mat-label>Celular</mat-label>
    <input matInput type="text" id="phone" formControlName="phone" (input)="onPhoneInput($event)">
    <mat-error *ngIf="registroForm.get('phone')?.invalid && registroForm.get('phone')?.touched">
      Insira um numero de telefone valido
    </mat-error>
  </mat-form-field>
  <!-- Campo Conhecimentos -->
  <p>Selecione suas Skills (Até 3 opções)</p>
  <div formArrayName="skills" class="skills-list">
    <div *ngFor="let skill of skillsOptions; let i = index">
        <mat-checkbox [value]="skill" (change)="onSkillChange($event)">
            {{ skill }}
        </mat-checkbox>
    </div>
</div>
  <button class="btn-registro" type="submit" [disabled]="registroForm.invalid">Registrar</button>
</form>
</div>
</div>
